APP_NAME=DevBattle AI
APP_ENV=development
DEBUG=true

DATABASE_URL=YOUR_DATABASE_URL

SUPABASE_URL=YOUR_SUPABASE_URL

SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY

GEMINI_API_KEY=YOUR_GEMINI_API_KEY

PLAYWRIGHT_HEADLESS=true